<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="form">
  
    <p class="app-title">Reset Tasky Password</p>
  
    <div class="input-container">
      <input type="text" placeholder="Enter your User ID" formControlName="userId">
      <span *ngIf="resetPasswordForm.get('userId')?.invalid && resetPasswordForm.get('userId')?.touched">
        <small *ngIf="resetPasswordForm.get('userId')?.hasError('required')">User ID is required</small>
      </span>
    </div>
  
    <div class="input-container">
      <input type="password" placeholder="Enter new password" formControlName="newPassword">
      <span *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched">
        <small *ngIf="resetPasswordForm.get('newPassword')?.hasError('required')">Password is required</small>
        <small *ngIf="resetPasswordForm.get('newPassword')?.hasError('minlength')">Min 8 characters</small>
      </span>
    </div>
  
    <div class="input-container">
      <input type="password" placeholder="Confirm your password" formControlName="confirmPassword">
      <span *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched">
        <small *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')">Confirmation is required</small>
        <small *ngIf="resetPasswordForm.get('confirmPassword')?.value !== resetPasswordForm.get('newPassword')?.value">
          Passwords must match
        </small>
      </span>
    </div>
  
    <button class="submit" type="submit" [disabled]="resetPasswordForm.invalid">
      Get Reset Link
    </button>
  
    <p class="back-to-login">
      Remembered your password? <a routerLink="/login">Login</a>
    </p>
  </form>
  